.modal {
    width: 100%;
}
.chatbot-title {
    font-size: 1.2rem;
}
.modal-container {
    position: relative;
    width: 100vw;
    height: 100%;
}
.position-chatbot {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    top: 12%;
    bottom: 12%;
    right: 12%;
    z-index: 50;
    max-height: 80vh;
    width: 400px;
}
.rounded-full {
    border-radius: 5rem;
}
.form-chatbot {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid #df4d8c;
    border-radius: 5rem;
    background-color: white;
    width: 100%;
}
.input-chatbot {
    padding: 4rem 2rem;
    width: 100%;
    text-align: start;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5rem;
    padding: 0.5rem;
    font-size: 1rem
}
.input-chatbot:focus {
    background-color: white;
    outline: none;
}
.user-chat, .bot-chat {
    font-size: 1rem;
}
.button-gemini {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df4d8c;
    color: white;
    border: none;
    border-radius: 2.2rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 0.3rem;
}

.button-gemini:hover {
    background-color: #fa006c;
}

.icon-chatbot svg {
    margin: 1.5rem;
    width: 6rem;
    height: 6rem;
}

.text-sm {
    font-size: small;
}


.cursor-pointer:hover {
    cursor: pointer;
}

.obrolan {
    max-height: 55vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

@media screen and (max-width: 800px) {
    .position-chatbot {
        top: 6%;
        bottom: 15%;
        right: 15%;
        max-height: 100vh;
        width: 50vw;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .modal-container {
        width: 70vw;
    }
    .chatbot-title {
        font-size: 1.8rem;
    }
    .input-chatbot {
        font-size: 1.5rem;
    }
    .position-chatbot {
        top: 8%;
        bottom: 10%;
        right: 2%;
        left: 4%;
        max-height: 100vh;
        width: 90vw;
        padding: 1rem;
    }
    .user-chat, .bot-chat {
        font-size: 1.6rem;
    }
}
